<%- include("layout/html5") %>
    <title>Contact</title>
    <%- include("layout/header") %>
        <main>
            <div>
                <h1>Supriyo Das</h1>
                <h3>West Bengal, India</h3>
                <h3>+91 9932562329</h3>
                <h4>das.supriyo07@gmail.com</h4>
            </div>
        </main>
        <%- include("layout/footer") %>