<link rel="stylesheet" href="/CSS/style.css">
</head>

<body>
    <header class="center">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>